* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 40px;
  width: 600px;
  height: 600px;
  display: grid;
}

.grid-element {
  font-size: 10px;
  border: solid 1px black;
}

.painted {
  background-color: black;
  color: white;
}
